
<fieldset>
  <div class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="gene_id">Gene ID</label>
      <div class="controls">
        <input type="text" id="gene_id" name="gene_id" placeholder="Target Gene ID" value="[% gene_id %]" /><br/>
        <span class="help-block">[% gene_id_label %]</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="alt_designs">Alternate Designs</label>
      <div class="controls">
        <input type="checkbox" id="alt_designs" name="alt_designs" value="1">
        <span class="help-block">If checked mulitple designs may be created, each with a different set of valid oligos</span>
      </div>
    <input type="hidden" id="ensembl_gene_id" name="ensembl_gene_id" value="[% ensembl_gene_id %]" />
    </div>

    <div class="control-group">
      <label class="control-label">Restrict Repeat Masking</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" name="repeat_mask_classes" value="trf"> trf
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="repeat_mask_classes" value="dust"> dust
        </label>
        <span class="help-block">By default all repeat regions will be masked, ticking a checkbox makes sure only those classes of repeats are masked.</span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" name="create_design" class="btn btn-primary" value="Create Gibson Design" />
      </div>
    </div>
  </div>
</fieldset>
