<div id="design_pending">
  <div class="row">
    <h5 class="col-md-12" id="progress_status">pending</h5>
  </div>
  <div class="progress">
    <div id="progress_bar" class="progress-bar progress-bar-striped active" style="width: 1%;"></div>
  </div>
</div>

<div id="design_success" class="alert alert-success">
  <p>Design Successful: </p>
  <div id="design_links"></div>
  [% IF design_target_report_url %]
  <br>
  <a href="[% c.uri_for( design_target_report_url gene_id, { 'crispr_types' => 'single' } ) %]" target="_blank" class="btn btn-info">
          single crispr report for [% gene_id %]</a>
  <a href="[% c.uri_for( design_target_report_url gene_id, { 'crispr_types' => 'pair' } ) %]" target="_blank" class="btn btn-info">
          crispr pair report for [% gene_id %]</a>
  [% END %]
</div>

<div id="design_fail" class="alert alert-danger">
  <p>Failed to create design:
      <a href="[% c.uri_for( design_attempt_url, id, 'view' ) %]"> details </a>
  </p>
</div>

<script type="text/javascript">

$(document).ready(function() {
    $('#design_success').hide();
    $('#design_fail').hide();
});

  $.smartPoller( 250, function(retry){
    $.getJSON( "[% c.uri_for( design_attempt_status_url, id ) %]", function(response){
      if( response.status == "success" ) {
         $('#design_success').show();
         $('#design_pending').hide();
         $('#design_links').html( response.designs );
      }
      else if ( response.status == "fail" ) {
         $("#design_fail").show();
         $("#design_pending").hide();
      }
      else if ( response.status == "error" ) {
         $("#design_fail").show();
         $("#design_pending").hide();
      }
      else if ( response.status == "pending" ) {
        $('#progress_bar').css('width', '1%');
        $('#progress_status').html( response.status );
        retry();
      }
      else if ( response.status == "started" ) {
        $('#progress_bar').css('width', '10%');
        $('#progress_status').html( response.status );
        retry();
      }
      else if ( response.status == "coordinates_calculated" ) {
        $('#progress_bar').css('width', '15%');
        $('#progress_status').html( response.status );
        retry();
      }
      else if ( response.status == "oligos_found" ) {
        $('#progress_bar').css('width', '30%');
        $('#progress_status').html( response.status );
        retry();
      }
      else if ( response.status == "oligos_validated" ) {
        $('#progress_bar').css('width', '80%');
        $('#progress_status').html( response.status );
        retry();
      }
      else if ( response.status == "design_data_consolidated" ) {
        $('#progress_bar').css('width', '90%');
        $('#progress_status').html( response.status );
        retry();
      }
      else {
        retry();
      }
    });
  });
</script>
